.app-container{
    display: flex;
   
    /* width: 100px;
    height: 100px; */
}
.app-main{
    flex: 15;
    
    /* width: 500px; */
}
body{
    padding: 0;
    /* margin: 20px; */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    box-sizing: border-box;
}